<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
			layout="${shortdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<target
			xsi:type="File"
			fileName="${basedir}/logs/info_${shortdate}.log"
			keepFileOpen="true"
			name="intoFile"
			
			useDefaultRowHighlightingRules="true"
			deleteOldFileOnStartup="false"
			maxArchiveFiles="10"
			archiveEvery="Day" 
			layout="${shortdate}|${level:uppercase=true}|${logger}|${message}"  />
		
		<target 
			xsi:type="File"
			fileName="${basedir}/logs/error_${shortdate}.log"
			keepFileOpen="true"
			name="errorFile"
			
			useDefaultRowHighlightingRules="true"
			deleteOldFileOnStartup="false"
			maxArchiveFiles="10"
			archiveEvery="Day"
			layout="${shortdate}|${level:uppercase=true}|${logger}|${message}" />
			/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="coloredConsole" />
		<logger name="*" minlevel="Debug" maxlevel="Info" writeTo="intoFile" final="true" />
		
		<logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" final="true" />
	</rules>
</nlog>